<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sale Notify</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>ssense</h1>
    <ui>
        <li><a href='/register'>サインインはこちら</a></li>
        <li><a href='/member'>会員ページはこちら</a></li>
        <li><a href='/login'>ログインはこちら</a></li>
        <li><a href='/logout'>ログアウトはこちら</a></li>
    </ui>
    <h2>List</h2>
    <p>{{ soup }}</p>
    <p>{{ soup_type }}</p>
    <p>{{ price }}</p>
</body>
</html>