<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sale Notify</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>ssense</h1>
    <ui>
        <li><a href='/register'>サインインはこちら</a></li>
        <li><a href='/member'>会員ページはこちら</a></li>
        <li><a href='/login'>ログインはこちら</a></li>
        <li><a href='/logout'>ログアウトはこちら</a></li>
    </ui>
    <h2>List (for development)</h2>
    <ul>
        <li>{{ soup }}</li>
        <li><{{ soup_type }}</li>
        <li>{{ name }}</li>
        <li>{{ price }}</li>
    </ul>
    <h2>Sample Price Lsit (scraping)</h2>
    <a href="https://www.farfetch.com/jp/shopping/men/maison-margiela-x-reebok-classic-tabi-item-16261856.aspx?storeid=12850">Margiela * Reebok (link)</a>
    <table border="1">
        <tr>
            <th>更新日時</th>
            <th>商品名</th>
            <th>価格</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{item.date}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
        </tr>
		{% endfor %}
    </table>

</body>
</html>