<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ssense</h1>

    <ui>
        <li><a href='/member'>会員ページはこちら</a></li>
        <li><a href='/login'>ログインはこちら</a></li>
        <li><a href='/logout'>ログアウトはこちら</a></li>
        <li><a href='/'>Homeはこちら</a></li>
    </ui>
    <!-- login form -->
    <p>{% if error %}{{ error }}{% endif %}</p>
    <form action="/login" method="post">
        <label for="title">Email</label>
        <input type="text" name="mail">
        <label for="">パスワード</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</body>
</html>