<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member</title>
</head>
<body>
    <h1>ssense</h1>
    <p>member page</p>
    <p>Current user: {{username}}</p>
    
    <ui>
        <li><a href='/member'>会員ページはこちら</a></li>
        <li><a href='/login'>ログインはこちら</a></li>
        <li><a href='/logout'>ログアウトはこちら</a></li>
        <li><a href='/'>Homeはこちら</a></li>
    </ui>
    <h2>Line</h2>
    <button type=“button”><a target="_blank" href="https://notify-bot.line.me/oauth/authorize?response_type=code&client_id=qLOfVAfD0t2uZ900JT7lpp&redirect_uri=https%3A%2F%2Fsale-notify.herokuapp.com&scope=notify&state=8cfbd6c74e0d77b17bce7a9257cefb6af286a2ba15002b46ae95d97f63d14f97">LINEと通知アプリを連携する</a></button>
</body>
</html>

<!-- https://notify-bot.line.me/oauth/authorize?response_type=code
    &client_id=qLOfVAfD0t2uZ900JT7lpp
    &redirect_uri=https%3A%2F%2Fmono-tech.net
    &scope=notify
    &state=8cfbd6c74e0d77b17bce7a9257cefb6af286a2ba15002b46ae95d97f63d14f97
    &response_mode=form_post -->

    <!-- https://notify-bot.line.me/oauth/authorize?response_type=code&client_id=qLOfVAfD0t2uZ900JT7lpp&redirect_uri=https%3A%2F%2Fmono-tech.net&scope=notify&state=8cfbd6c74e0d77b17bce7a9257cefb6af286a2ba15002b46ae95d97f63d14f97 -->